body {
    background-color: #62b7bd;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    margin-top: 50px;
}

h2 {
    color: #030303a2;
    margin-bottom: 20px;
}

select, input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 16px;
}

select {
    background-color: #fff;
}

input {
    background-color: #f0f0f0;
    color: #333;
}

.AddItem {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.AddItem:hover {
    background-color: #45a049;
}
